@font-face {
    font-family: "LatoRegular";
    src: local("LatoRegular"),
     url("./assets/fonts/Lato-Regular.ttf") format("truetype");
}

.App {
    font-family: "LatoRegular";
    background-color: darkred;
}